.menu {
  background-color: #722c2d;
  min-height: 80px;
  width: 100vw;
  height: 13vh;
  display: flex;
  vertical-align: auto;
  flex-direction: row;
  margin-bottom: 50px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.texto {
  color: #fafafa;
  font-size: 2.5em;
  padding: 5% 100px;
  vertical-align: baseline;
}

.headercontainer{
  display: flex;
  flex-direction: row;
}

.logo {
  padding: 10px 50px;
}


