.footer {
  --background-color: #00508a;
  background-color: #722c2d;
  width: 100vw;
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.texto-footer {
  color: #fafafa;
  font-size: 1em;
  padding: 10px;
}
